
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>
      .navbar-brand{
        font-size: 30px;
        margin-left: 185px;
      }
      #navbarNav{
        margin-right: 15px;
      }
    </style>
</head>    
<body>
  

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand navbar-collapse justify-content-center text-white" href="/"><span style="color: rgb(168, 9, 9); font-size: 30px;">J</span><samp style="color: rgb(236, 236, 7);">K</samp></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse float-right" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="ghg">Holder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="login">Workers</a>
      </li>
    </ul>
  </div>
</nav>
{% load static %}
<div class="container py-5">
  <h1 class="text-center mb-4">Welcome to JK Jewellery </h1>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">We are a [description of your shop - for example, "family-owned and operated jewelry boutique"] that specializes in [types of jewelry you sell - for example, "handcrafted sterling silver jewelry with unique gemstone accents"]. Our goal is to provide you with high-quality jewelry that is not only beautiful but also timeless.</p>
      <p class="mb-4">At <span style="color: rgb(168, 9, 9); ">J</span><samp style="color: rgb(8, 152, 39);">K</samp>, we understand that jewelry is more than just an accessory - it's a way to express your personal style and make a statement. That's why we take pride in offering a wide selection of pieces that are as unique and individual as you are. Whether you're looking for a classic piece to wear every day or a show-stopping statement necklace for a special occasion, we've got you covered.</p>
      <p class="mb-4">Our jewelry is crafted from the highest-quality materials, including [list some of the materials you use - for example, "sterling silver, 14k gold, and genuine gemstones"]. We believe in using only the best materials so that your jewelry will last for years to come. We also offer customization options so that you can create a piece that is truly one-of-a-kind.</p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/11.jpg' %}" alt="[alt text]" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="mb-4">In addition to our selection of jewelry, we are committed to providing exceptional customer service. Our knowledgeable staff is here to answer any questions you may have and help you find the perfect piece. We also offer free shipping on all orders and a hassle-free return policy, so you can shop with confidence.</p>
      <p>Thank you for choosing <span style="color: rgb(168, 9, 9);">J</span><samp style="color: rgb(8, 152, 39);">K</samp>. We look forward to helping you find the perfect piece of jewelry that you'll cherish for years to come.</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Customer Reviews</h3>
          <p class="card-text">"I absolutely love the earrings I purchased from <span style="color: rgb(168, 9, 9);">J</span><samp style="color: rgb(8, 152, 39);">K</samp>. They're so unique and the quality is amazing!"</p>
          <p class="card-text">"I had a necklace custom-made and it turned out even better than I imagined. Thank you !"</p>
        </div>
      </div>
    </div>
  </div>
</div>


</body>